*~
Makefile.in
Makefile
*.o
*.a
*.mod
*.bak
.deps
*.log
*_oct.f90
*.optrpt
config.status
config.guess
config.sub
config.h
stamp-h1
aclocal.m4
autom4te.cache
autogen*
configure
config.h.in
build-aux
build-stamp
semantic.cache

# /
/bin
/lib
/man
/include
/blds

# /build/
/build/octopus.spec

# /doc/
/doc/*.1
/doc/variables.texi

# /doc/doxygen/
/doc/doxygen/html
/doc/doxygen/latex
/doc/doxygen/doxygen*tmp

# /doc/html/
/doc/html/varsRightFrame.html

# /doc/html/icons/
/doc/html/icons/texinfo.tex
/doc/html/icons/*.1
/doc/html/icons/variables.texi
/doc/html/icons/*.info
/doc/html/icons/vars

# /doc/html/js/
/doc/html/js/texinfo.tex
/doc/html/js/*.1
/doc/html/js/variables.texi
/doc/html/js/*.info
/doc/html/js/vars

# /doc/html/vars/
/doc/html/vars/*.html
/doc/html/vars/alpha.js
/doc/html/vars/sections.js

# /external_libs/fortrancl/
/external_libs/fortrancl/config_F90.h

# /external_libs/isf/flib/
/external_libs/isf/flib/mpif.h


# /external_libs/isf/wrappers/
/external_libs/isf/wrappers/mpif.h

# /external_libs/qshep/
/external_libs/qshep/*__genmod.*

# /external_libs/dftd3/
/external_libs/dftd3/Makefile
/external_libs/dftd3/Makefile.in
/external_libs/dftd3/*.o
/external_libs/dftd3/*.a
/external_libs/dftd3/*.mod


# /external_libs/rapidxml/
/external_libs/rapidxml/Makefile
/external_libs/rapidxml/Makefile.in

# /liboct_parser/
/liboct_parser/lib64

# /share/
/share/varinfo
/share/varinfo_orig
/share/variables
/share/variables.xml
/share/man
/share/octopus

# /share/pseudopotentials/
/share/pseudopotentials/varinfo
/share/pseudopotentials/varinfo_orig
/share/pseudopotentials/variables
/share/pseudopotentials/variables.xml

# /share/pseudopotentials/HGH/
/share/pseudopotentials/HGH/varinfo
/share/pseudopotentials/HGH/varinfo_orig
/share/pseudopotentials/HGH/variables
/share/pseudopotentials/HGH/variables.xml

# /share/pseudopotentials/PSF/
/share/pseudopotentials/PSF/varinfo
/share/pseudopotentials/PSF/varinfo_orig
/share/pseudopotentials/PSF/variables
/share/pseudopotentials/PSF/variables.xml

# /share/recipes/
/share/recipes/varinfo
/share/recipes/varinfo_orig
/share/recipes/variables
/share/recipes/variables.xml

# /share/recipes/da/
/share/recipes/da/varinfo
/share/recipes/da/varinfo_orig
/share/recipes/da/variables
/share/recipes/da/variables.xml 

# /share/recipes/en/
/share/recipes/en/varinfo
/share/recipes/en/varinfo_orig
/share/recipes/en/variables
/share/recipes/en/variables.xml

# /share/recipes/es/
/share/recipes/es/varinfo
/share/recipes/es/varinfo_orig
/share/recipes/es/variables
/share/recipes/es/variables.xml

# /share/recipes/it/
/share/recipes/it/varinfo
/share/recipes/it/varinfo_orig
/share/recipes/it/variables
/share/recipes/it/variables.xml

# /share/util/
/share/util/varinfo
/share/util/varinfo_orig
/share/util/variables
/share/util/variables.xml

# /src/
/src/octopus
/src/oct-*
/src/octopus_*
/src/config_F90.h
/src/debug
/src/static
/src/tmp
/src/inp
/src/out.oct
/src/stamp*
/src/Makefile.local
/src/messages.std*
/src/*.pbs
/src/machinefile*
/src/inp.*
/src/.gdb_history
/src/Doxyfile
/src/octopus.png

# /src/basic/
/src/basic/*.mod
/src/basic/*.o
/src/basic/*.a
/src/basic/*~
/src/basic/Makefile
/src/basic/Makefile.in
/src/basic/.deps
/src/basic/*_oct.f90
/src/basic/*.optrpt

# /src/basis_set/
/src/basis_set/*.mod
/src/basis_set/*.o
/src/basis_set/*.a
/src/basis_set/*~
/src/basis_set/Makefile
/src/basis_set/Makefile.in
/src/basis_set/.deps
/src/basis_set/*_oct.f90

# /src/frozen/
/src/frozen/*.o
/src/frozen/*.a
/src/frozen/*.mod
/src/frozen/*~
/src/frozen/Makefile.in
/src/frozen/Makefile
/src/frozen/.deps
/src/frozen/*_oct.f90
/src/frozen/*.optrpt

# /src/grid/
/src/grid/*.o
/src/grid/*.a
/src/grid/*.mod
/src/grid/*~
/src/grid/Makefile.in
/src/grid/.deps
/src/grid/Makefile
/src/grid/*_oct.f90
/src/grid/*.optrpt

# /src/hamiltonian/
/src/hamiltonian/*.o
/src/hamiltonian/*.a
/src/hamiltonian/*.mod
/src/hamiltonian/*~
/src/hamiltonian/Makefile
/src/hamiltonian/Makefile.in
/src/hamiltonian/.deps
/src/hamiltonian/*_oct.f90
/src/hamiltonian/*.optrpt

# /src/include/
/src/include/config_F90.h
/src/include/defaults.h
/src/include/options.h

# /src/main/
/src/main/octopus
/src/main/oct-test
/src/main/octopus_mpi
/src/main/*.dSYM

# /src/utils/
/src/utils/oct-casida_spectrum
/src/utils/oct-center-geom
/src/utils/oct-conductivity
/src/utils/oct-convert
/src/utils/oct-dielectric-function
/src/utils/oct-harmonic-spectrum
/src/utils/oct-help
/src/utils/oct-infrared_spectrum
/src/utils/oct-local_multipoles
/src/utils/oct-oscillator-strength
/src/utils/oct-photoelectron_spectrum
/src/utils/oct-propagation_spectrum
/src/utils/oct-vibrational_spectrum
/src/utils/oct-xyz-anim
/src/utils/oct-floquet
/src/utils/*.dSYM

# /testsuite/
/testsuite/*.test
/testsuite/oct-run_testsuite.sh

# /testsuite/complex_scaling/
/testsuite/complex_scaling/Makefile
/testsuite/complex_scaling/Makefile.in

# /testsuite/components/
/testsuite/components/Makefile
/testsuite/components/Makefile.in

# /testsuite/finite_systems_1d/
/testsuite/finite_systems_1d/*.log
/testsuite/finite_systems_1d/config.status
/testsuite/finite_systems_1d/config.guess
/testsuite/finite_systems_1d/config.sub
/testsuite/finite_systems_1d/config.h
/testsuite/finite_systems_1d/stamp-h1
/testsuite/finite_systems_1d/aclocal.m4
/testsuite/finite_systems_1d/autom4te.cache
/testsuite/finite_systems_1d/autogen*
/testsuite/finite_systems_1d/Makefile
/testsuite/finite_systems_1d/.deps
/testsuite/finite_systems_1d/*.bak
/testsuite/finite_systems_1d/Makefile.in
/testsuite/finite_systems_1d/configure
/testsuite/finite_systems_1d/config.h.in
/testsuite/finite_systems_1d/build-aux
/testsuite/finite_systems_1d/build-stamp
/testsuite/finite_systems_1d/semantic.cache

# /testsuite/finite_systems_2d/
/testsuite/finite_systems_2d/*.log
/testsuite/finite_systems_2d/config.status
/testsuite/finite_systems_2d/config.guess
/testsuite/finite_systems_2d/config.sub
/testsuite/finite_systems_2d/config.h
/testsuite/finite_systems_2d/stamp-h1
/testsuite/finite_systems_2d/aclocal.m4
/testsuite/finite_systems_2d/autom4te.cache
/testsuite/finite_systems_2d/autogen*
/testsuite/finite_systems_2d/Makefile
/testsuite/finite_systems_2d/.deps
/testsuite/finite_systems_2d/*.bak
/testsuite/finite_systems_2d/Makefile.in
/testsuite/finite_systems_2d/configure
/testsuite/finite_systems_2d/config.h.in
/testsuite/finite_systems_2d/build-aux
/testsuite/finite_systems_2d/build-stamp
/testsuite/finite_systems_2d/semantic.cache

# /testsuite/finite_systems_3d/
/testsuite/finite_systems_3d/*.log
/testsuite/finite_systems_3d/config.status
/testsuite/finite_systems_3d/config.guess
/testsuite/finite_systems_3d/config.sub
/testsuite/finite_systems_3d/config.h
/testsuite/finite_systems_3d/stamp-h1
/testsuite/finite_systems_3d/aclocal.m4
/testsuite/finite_systems_3d/autom4te.cache
/testsuite/finite_systems_3d/autogen*
/testsuite/finite_systems_3d/Makefile
/testsuite/finite_systems_3d/.deps
/testsuite/finite_systems_3d/*.bak
/testsuite/finite_systems_3d/Makefile.in
/testsuite/finite_systems_3d/configure
/testsuite/finite_systems_3d/config.h.in
/testsuite/finite_systems_3d/build-aux
/testsuite/finite_systems_3d/build-stamp
/testsuite/finite_systems_3d/semantic.cache

# /testsuite/frozen/
/testsuite/frozen/Makefile
/testsuite/frozen/Makefile.in

# /testsuite/functionals/
/testsuite/functionals/Makefile
/testsuite/functionals/Makefile.in

# /testsuite/pseudopotentials/
/testsuite/lda_u/Makefile
/testsuite/lda_u/Makefile.in

# /testsuite/linear_response/
/testsuite/linear_response/*.log
/testsuite/linear_response/config.status
/testsuite/linear_response/config.guess
/testsuite/linear_response/config.sub
/testsuite/linear_response/config.h
/testsuite/linear_response/stamp-h1
/testsuite/linear_response/aclocal.m4
/testsuite/linear_response/autom4te.cache
/testsuite/linear_response/autogen*
/testsuite/linear_response/Makefile
/testsuite/linear_response/.deps
/testsuite/linear_response/*.bak
/testsuite/linear_response/Makefile.in
/testsuite/linear_response/configure
/testsuite/linear_response/config.h.in
/testsuite/linear_response/build-aux
/testsuite/linear_response/build-stamp
/testsuite/linear_response/semantic.cache

# /testsuite/optimal_control/
/testsuite/optimal_control/*.log
/testsuite/optimal_control/config.status
/testsuite/optimal_control/config.guess
/testsuite/optimal_control/config.sub
/testsuite/optimal_control/config.h
/testsuite/optimal_control/stamp-h1
/testsuite/optimal_control/aclocal.m4
/testsuite/optimal_control/autom4te.cache
/testsuite/optimal_control/autogen*
/testsuite/optimal_control/Makefile
/testsuite/optimal_control/.deps
/testsuite/optimal_control/*.bak
/testsuite/optimal_control/Makefile.in
/testsuite/optimal_control/configure
/testsuite/optimal_control/config.h.in
/testsuite/optimal_control/build-aux
/testsuite/optimal_control/build-stamp
/testsuite/optimal_control/semantic.cache

# /testsuite/periodic_systems/
/testsuite/periodic_systems/*.log
/testsuite/periodic_systems/config.status
/testsuite/periodic_systems/config.guess
/testsuite/periodic_systems/config.sub
/testsuite/periodic_systems/config.h
/testsuite/periodic_systems/stamp-h1
/testsuite/periodic_systems/aclocal.m4
/testsuite/periodic_systems/autom4te.cache
/testsuite/periodic_systems/autogen*
/testsuite/periodic_systems/Makefile
/testsuite/periodic_systems/.deps
/testsuite/periodic_systems/*.bak
/testsuite/periodic_systems/Makefile.in
/testsuite/periodic_systems/configure
/testsuite/periodic_systems/config.h.in
/testsuite/periodic_systems/build-aux
/testsuite/periodic_systems/build-stamp
/testsuite/periodic_systems/semantic.cache

# /testsuite/photo_electron/
/testsuite/photo_electron/.log
