#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatibility version to use.
export DH_COMPAT=3

# These are used for cross-compiling and for saving the configure script
# from having to guess our platform (since we know it already)
DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)


ifneq (,$(findstring debug,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -g
endif
ifeq (,$(findstring nostrip,$(DEB_BUILD_OPTIONS)))
	INSTALL_PROGRAM += -s
endif

config.status: 
	dh_testdir
# Add here commands to configure the package.
	aclocal-1.8
	automake-1.8 --add-missing
	autoconf

build: build-stamp

build-stamp:  config.status
	dh_testdir

# Since there is no usable open source f90 compiler (yet) we are hard-coding the configure process 
# for commercial compilers. Once gcc4 and gfortran support are good enough this will be replaced.

# Define shortcuts


####################################################################################################
#
# first we build the serial version
#

# Replace $(HOME) for custom builds if you have the corresponding libraries in a different place

## NAGWare Fortran 95 compiler Release 5.0(363)"
ifeq (x86_64-linux,$(DEB_HOST_GNU_TYPE))
	echo "Will assume NAGWare Fortran 95 compiler Release 5.0(363)"
	FC=f95 \
	CFLAGS="-static -Wall -O3" \
	FCFLAGS="-colour -kind=byte -mismatch_all -abi=64 -ieee=full -O4 -Ounroll=4 -Bstatic" \
	./configure --with-lapack="-L$(HOME)/opt/nag -llapack -lg2c" --with-blas="-L$(HOME)/opt/nag -lblas" \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif


## Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z
ifeq (i386-linux,$(DEB_HOST_GNU_TYPE))
	echo "Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z"
	FC=ifc \
	LDFLAGS="-lpthread" \
	LDFCFLAGS="-L/usr/lib -lpthread" \
	FCFLAGS="-mp1 -prec_div -O3 -tpp7 -xW -static -I$(HOME)/opt/intel/include" \
	CPPFLAGS="-I$(HOME)/opt/intel/include" \
	CFLAGS="-static -Wall -O3" \
	./configure  \
	--with-blas="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lblas -L/usr/lib -lpthread" \
	--with-lapack="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -llapack -L/usr/lib -lpthread" \
	--with-fft-lib="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lfftw3 -L/usr/lib -lpthread" \
	--with-netcdf="-L$(HOME)/opt/intel/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -I$(HOME)/opt/intel/include \
		       -lnetcdf -L/usr/lib -lpthread" \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif

  # Add here commands to compile the package.
	$(MAKE)

	dh_testdir
	dh_clean -k
	dh_installdirs

  # Add here commands to install the package into debian/octopus.
	$(MAKE) install prefix=$(CURDIR)/debian/octopus/usr

  # inbetween we cleanup
	$(MAKE) distclean

####################################################################################################
#
# next we build a serial debug version 
#

	aclocal-1.8
	automake-1.8 --add-missing
	autoconf

## NAGWare Fortran 95 compiler Release 5.0(363)"
ifeq (x86_64-linux,$(DEB_HOST_GNU_TYPE))
	echo "Will assume NAGWare Fortran 95 compiler Release 5.0(363)"
	FC=f95 \
	CFLAGS="-static -Wall -O3" \
	FCFLAGS="-colour -kind=byte -mismatch_all -abi=64 -ieee=full -O4 -Ounroll=4 -Bstatic" \
	./configure --with-lapack="-L$(HOME)/opt/nag -llapack -lg2c" --with-blas="-L$(HOME)/opt/nag -lblas" \
	--enable-debug \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif


## Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z
ifeq (i386-linux,$(DEB_HOST_GNU_TYPE))
	echo "Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z"
	FC=ifc \
	LDFLAGS="-lpthread" \
	LDFCFLAGS="-L/usr/lib -lpthread" \
	FCFLAGS="-mp1 -prec_div -O3 -tpp7 -xW -static -I$(HOME)/opt/intel/include" \
	CPPFLAGS="-I$(HOME)/opt/intel/include" \
	CFLAGS="-static -Wall -O3" \
	./configure  \
	--with-blas="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lblas -L/usr/lib -lpthread" \
	--with-lapack="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -llapack -L/usr/lib -lpthread" \
	--with-fft-lib="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lfftw3 -L/usr/lib -lpthread" \
	--with-netcdf="-L$(HOME)/opt/intel/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -I$(HOME)/opt/intel/include \
		       -lnetcdf -L/usr/lib -lpthread" \
	--enable-debug \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif

  # Add here commands to compile the package.
	$(MAKE)

	install -m 755 src/octopus_debug $(CURDIR)/debian/octopus/usr/bin/octopus_debug

  # inbetween we cleanup
	$(MAKE) distclean


####################################################################################################
#
# next we build a version for complex wave functions
#

	aclocal-1.8
	automake-1.8 --add-missing
	autoconf

## NAGWare Fortran 95 compiler Release 5.0(363)"
ifeq (x86_64-linux,$(DEB_HOST_GNU_TYPE))
	echo "Will assume NAGWare Fortran 95 compiler Release 5.0(363)"
	FC=f95 \
	CFLAGS="-static -Wall -O3" \
	FCFLAGS="-colour -kind=byte -mismatch_all -abi=64 -ieee=full -O4 -Ounroll=4 -Bstatic" \
	./configure --with-lapack="-L$(HOME)/opt/nag -llapack -lg2c" --with-blas="-L$(HOME)/opt/nag -lblas" \
	--enable-complex \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif


## Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z
ifeq (i386-linux,$(DEB_HOST_GNU_TYPE))
	echo "Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z"
	FC=ifc \
	LDFLAGS="-lpthread" \
	LDFCFLAGS="-L/usr/lib -lpthread" \
	FCFLAGS="-mp1 -prec_div -O3 -tpp7 -xW -static -I$(HOME)/opt/intel/include" \
	CPPFLAGS="-I$(HOME)/opt/intel/include" \
	CFLAGS="-static -Wall -O3" \
	./configure  \
	--with-blas="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lblas -L/usr/lib -lpthread" \
	--with-lapack="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -llapack -L/usr/lib -lpthread" \
	--with-fft-lib="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lfftw3 -L/usr/lib -lpthread" \
	--with-netcdf="-L$(HOME)/opt/intel/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -I$(HOME)/opt/intel/include \
		       -lnetcdf -L/usr/lib -lpthread" \
	--enable-complex \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif

  # Add here commands to compile the package.
	$(MAKE)

	install -m 755 src/octopus_cmplx $(CURDIR)/debian/octopus/usr/bin/octopus_cmplx

  # inbetween we cleanup
	$(MAKE) distclean



####################################################################################################
#
# next we build a version for complex wave functions with debug info
#

	aclocal-1.8
	automake-1.8 --add-missing
	autoconf

## NAGWare Fortran 95 compiler Release 5.0(363)"
ifeq (x86_64-linux,$(DEB_HOST_GNU_TYPE))
	echo "Will assume NAGWare Fortran 95 compiler Release 5.0(363)"
	FC=f95 \
	CFLAGS="-static -Wall -O3" \
	FCFLAGS="-colour -kind=byte -mismatch_all -abi=64 -ieee=full -O4 -Ounroll=4 -Bstatic" \
	./configure --with-lapack="-L$(HOME)/opt/nag -llapack -lg2c" --with-blas="-L$(HOME)/opt/nag -lblas" \
	--enable-complex --enable-debug \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif


## Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z
ifeq (i386-linux,$(DEB_HOST_GNU_TYPE))
	echo "Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z"
	FC=ifc \
	LDFLAGS="-lpthread" \
	LDFCFLAGS="-L/usr/lib -lpthread" \
	FCFLAGS="-mp1 -prec_div -O3 -tpp7 -xW -static -I$(HOME)/opt/intel/include" \
	CPPFLAGS="-I$(HOME)/opt/intel/include" \
	CFLAGS="-static -Wall -O3" \
	./configure  \
	--with-blas="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lblas -L/usr/lib -lpthread" \
	--with-lapack="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -llapack -L/usr/lib -lpthread" \
	--with-fft-lib="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lfftw3 -L/usr/lib -lpthread" \
	--with-netcdf="-L$(HOME)/opt/intel/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -I$(HOME)/opt/intel/include \
		       -lnetcdf -L/usr/lib -lpthread" \
	--enable-complex --enable-debug\
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif

  # Add here commands to compile the package.
	$(MAKE)

	install -m 755 src/octopus_cmplx_debug $(CURDIR)/debian/octopus/usr/bin/octopus_cmplx_debug

  # inbetween we cleanup
	$(MAKE) distclean


####################################################################################################
#
# finally we build the parallel version for real ...
#

	aclocal-1.8
	automake-1.8 --add-missing
	autoconf


## NAGWare Fortran 95 compiler Release 5.0(363)"
ifeq (x86_64-linux,$(DEB_HOST_GNU_TYPE))
	echo "Will assume NAGWare Fortran 95 compiler Release 5.0(363)"
	FC=$(HOME)/opt/nag/mpich/bin/mpif90 \
	CPPFLAGS="-I$(HOME)/opt/nag/mpich/include" \
	CFLAGS="-static -Wall -O3 -I$(HOME)/opt/nag/include/metis -I$(HOME)/opt/nag/include" \
	FCFLAGS="-colour -kind=byte -mismatch_all -abi=64 -ieee=full -O4 -Ounroll=4 -Bstatic" \
	./configure --with-lapack="-L$(HOME)/opt/nag -llapack -lg2c" --with-blas="-L$(HOME)/opt/nag -lblas" \
	--with-metis="-L$(HOME)/opt/nag/lib -I$(HOME)/opt/nag/include -lmetis" \
	--enable-mpi --program-suffix="-mpi" \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif


## Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z
ifeq (i386-linux,$(DEB_HOST_GNU_TYPE))
	echo "Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z"
	FC=$(HOME)/opt/intel/mpich/bin/mpif90 \
	LDFLAGS="-lpthread -L$(HOME)/opt/intel/mpich/lib -lmpich" \
	LDFCFLAGS="-L/usr/lib -lpthread" \
	FCFLAGS="-mp1 -prec_div -O3 -tpp7 -xW -static \
	-I$(HOME)/opt/intel/include -I$(HOME)/opt/intel/include/metis -I$(HOME)/opt/intel/mpich/include" \
	CPPFLAGS="-I$(HOME)/opt/intel/include -I$(HOME)/opt/intel/mpich/include" \
	CFLAGS="-static -Wall -O3 -I$(HOME)/opt/intel/include/metis" \
	./configure  \
	--with-blas="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lblas -L/usr/lib -lpthread" \
	--with-lapack="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -llapack -L/usr/lib -lpthread" \
	--with-fft-lib="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lfftw3 -L/usr/lib -lpthread" \
	--with-metis="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -I$(HOME)/opt/intel/include -L$(HOME)/opt/intel/lib -lmetis -L/usr/lib -lpthread" \
	--with-netcdf="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -I$(HOME)/opt/intel/include \
		       -lnetcdf -L/usr/lib -lpthread" \
	--enable-mpi --program-suffix="-mpi" \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif

  # Add here commands to compile the package.
	$(MAKE)

  # Add here commands to install the package into debian/octopus.
	install -m 755 src/octopus_mpi $(CURDIR)/debian/octopus/usr/bin/octopus_mpi

  # inbetween we cleanup
	$(MAKE) distclean


####################################################################################################
#
# ... and complex wavefunctions
#

	aclocal-1.8
	automake-1.8 --add-missing
	autoconf

## NAGWare Fortran 95 compiler Release 5.0(363)"
ifeq (x86_64-linux,$(DEB_HOST_GNU_TYPE))
	echo "Will assume NAGWare Fortran 95 compiler Release 5.0(363)"
	FC=$(HOME)/opt/nag/mpich/bin/mpif90 \
	CPPFLAGS="-I$(HOME)/opt/nag/mpich/include" \
	CFLAGS="-static -Wall -O3 -I$(HOME)/opt/nag/include/metis -I$(HOME)/opt/nag/include" \
	FCFLAGS="-colour -kind=byte -mismatch_all -abi=64 -ieee=full -O4 -Ounroll=4 -Bstatic" \
	./configure --with-lapack="-L$(HOME)/opt/nag -llapack -lg2c" --with-blas="-L$(HOME)/opt/nag -lblas" \
	--with-metis="-L$(HOME)/opt/nag/lib -I$(HOME)/opt/nag/include -lmetis" \
	--enable-complex  --enable-mpi --program-suffix="-mpi" \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif


## Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z
ifeq (i386-linux,$(DEB_HOST_GNU_TYPE))
	echo "Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z"
	FC=$(HOME)/opt/intel/mpich/bin/mpif90 \
	LDFLAGS="-lpthread -L$(HOME)/opt/intel/mpich/lib -lmpich" \
	LDFCFLAGS="-L/usr/lib -lpthread" \
	FCFLAGS="-mp1 -prec_div -O3 -tpp7 -xW -static \
	-I$(HOME)/opt/intel/include -I$(HOME)/opt/intel/include/metis -I$(HOME)/opt/intel/mpich/include" \
	CPPFLAGS="-I$(HOME)/opt/intel/include -I$(HOME)/opt/intel/mpich/include" \
	CFLAGS="-static -Wall -O3 -I$(HOME)/opt/intel/include/metis" \
	./configure  \
	--with-blas="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lblas -L/usr/lib -lpthread" \
	--with-lapack="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -llapack -L/usr/lib -lpthread" \
	--with-fft-lib="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lfftw3 -L/usr/lib -lpthread" \
	--with-metis="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -I$(HOME)/opt/intel/include -L$(HOME)/opt/intel/lib -lmetis -L/usr/lib -lpthread" \
	--with-netcdf="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -I$(HOME)/opt/intel/include \
		       -lnetcdf -L/usr/lib -lpthread" \
	--enable-complex --enable-mpi  \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif

  # Add here commands to compile the package.
	$(MAKE)

  # Add here commands to install the package into debian/octopus.
	ls -l src/octopus*
	install -m 755 src/octopus_mpi_cmplx $(CURDIR)/debian/octopus/usr/bin/octopus_cmplx_mpi



####################################################################################################
#
# MPI, real wavefunctions and debug info
#

	aclocal-1.8
	automake-1.8 --add-missing
	autoconf


## NAGWare Fortran 95 compiler Release 5.0(363)"
ifeq (x86_64-linux,$(DEB_HOST_GNU_TYPE))
	echo "Will assume NAGWare Fortran 95 compiler Release 5.0(363)"
	FC=$(HOME)/opt/nag/mpich/bin/mpif90 \
	CPPFLAGS="-I$(HOME)/opt/nag/mpich/include" \
	CFLAGS="-static -Wall -O3 -I$(HOME)/opt/nag/include/metis -I$(HOME)/opt/nag/include" \
	FCFLAGS="-colour -kind=byte -mismatch_all -abi=64 -ieee=full -O4 -Ounroll=4 -Bstatic" \
	./configure --with-lapack="-L$(HOME)/opt/nag -llapack -lg2c" --with-blas="-L$(HOME)/opt/nag -lblas" \
	--with-metis="-L$(HOME)/opt/nag/lib -I$(HOME)/opt/nag/include -lmetis" \
	--enable-mpi --enable-debug --program-suffix="-mpi" \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif


## Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z
ifeq (i386-linux,$(DEB_HOST_GNU_TYPE))
	echo "Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z"
	FC=$(HOME)/opt/intel/mpich/bin/mpif90 \
	LDFLAGS="-lpthread -L$(HOME)/opt/intel/mpich/lib -lmpich" \
	LDFCFLAGS="-L/usr/lib -lpthread" \
	FCFLAGS="-mp1 -prec_div -O3 -tpp7 -xW -static \
	-I$(HOME)/opt/intel/include -I$(HOME)/opt/intel/include/metis -I$(HOME)/opt/intel/mpich/include" \
	CPPFLAGS="-I$(HOME)/opt/intel/include -I$(HOME)/opt/intel/mpich/include" \
	CFLAGS="-static -Wall -O3 -I$(HOME)/opt/intel/include/metis" \
	./configure  \
	--with-blas="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lblas -L/usr/lib -lpthread" \
	--with-lapack="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -llapack -L/usr/lib -lpthread" \
	--with-fft-lib="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lfftw3 -L/usr/lib -lpthread" \
	--with-metis="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -I$(HOME)/opt/intel/include -L$(HOME)/opt/intel/lib -lmetis -L/usr/lib -lpthread" \
	--with-netcdf="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -I$(HOME)/opt/intel/include \
		       -lnetcdf -L/usr/lib -lpthread" \
	--enable-mpi --enable-debug  \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif

  # Add here commands to compile the package.
	$(MAKE)

  # Add here commands to install the package into debian/octopus.
	ls -l src/octopus*
	install -m 755 src/octopus_mpi_debug $(CURDIR)/debian/octopus/usr/bin/octopus_mpi_debug

  # inbetween we cleanup
	$(MAKE) distclean


####################################################################################################
#
# MPI, complex wavefunctions and debug info
#

	aclocal-1.8
	automake-1.8 --add-missing
	autoconf

## NAGWare Fortran 95 compiler Release 5.0(363)"
ifeq (x86_64-linux,$(DEB_HOST_GNU_TYPE))
	echo "Will assume NAGWare Fortran 95 compiler Release 5.0(363)"
	FC=$(HOME)/opt/nag/mpich/bin/mpif90 \
	CPPFLAGS="-I$(HOME)/opt/nag/mpich/include" \
	CFLAGS="-static -Wall -O3 -I$(HOME)/opt/nag/include/metis -I$(HOME)/opt/nag/include" \
	FCFLAGS="-colour -kind=byte -mismatch_all -abi=64 -ieee=full -O4 -Ounroll=4 -Bstatic" \
	./configure --with-lapack="-L$(HOME)/opt/nag -llapack -lg2c" --with-blas="-L$(HOME)/opt/nag -lblas" \
	--with-metis="-L$(HOME)/opt/nag/lib -I$(HOME)/opt/nag/include -lmetis" \
	--enable-complex --enable-mpi --enable-debug  \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif


## Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z
ifeq (i386-linux,$(DEB_HOST_GNU_TYPE))
	echo "Intel(R) Fortran Compiler for 32-bit applications, Version 7.1   Build 20031103Z"
	FC=$(HOME)/opt/intel/mpich/bin/mpif90 \
	LDFLAGS="-lpthread -L$(HOME)/opt/intel/mpich/lib -lmpich" \
	LDFCFLAGS="-L/usr/lib -lpthread" \
	FCFLAGS="-mp1 -prec_div -O3 -tpp7 -xW -static \
	-I$(HOME)/opt/intel/include -I$(HOME)/opt/intel/include/metis -I$(HOME)/opt/intel/mpich/include" \
	CPPFLAGS="-I$(HOME)/opt/intel/include -I$(HOME)/opt/intel/mpich/include" \
	CFLAGS="-static -Wall -O3 -I$(HOME)/opt/intel/include/metis" \
	./configure  \
	--with-blas="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lblas -L/usr/lib -lpthread" \
	--with-lapack="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -llapack -L/usr/lib -lpthread" \
	--with-fft-lib="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -lfftw3 -L/usr/lib -lpthread" \
	--with-metis="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -I$(HOME)/opt/intel/include -L$(HOME)/opt/intel/lib -lmetis -L/usr/lib -lpthread" \
	--with-netcdf="-L/opt/intel/compiler70/ia32/lib -lguide -lCEPCF90 -L$(HOME)/opt/intel/lib -I$(HOME)/opt/intel/include \
		       -lnetcdf -L/usr/lib -lpthread" \
	--enable-complex --enable-mpi --enable-debug \
	--host=$(DEB_HOST_GNU_TYPE) --build=$(DEB_BUILD_GNU_TYPE) \
	--prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
endif

  # Add here commands to compile the package.
	$(MAKE)

  # Add here commands to install the package into debian/octopus.
	install -m 755 src/octopus_mpi_cmplx_debug $(CURDIR)/debian/octopus/usr/bin/octopus_cpmlx_mpi_debug



	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp 

        # Add here commands to clean up after the build process.
	dh_clean

install: build
#	dh_testdir
#	dh_testroot
#	dh_clean -k
#	dh_installdirs

  # Add here commands to install the package into debian/octopus.
#	$(MAKE) install prefix=$(CURDIR)/debian/octopus/usr



# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
#	dh_installdebconf	
	dh_installdocs
	dh_installexamples
#	dh_installmenu
#	dh_installlogrotate
#	dh_installemacsen
#	dh_installpam
#	dh_installmime
#	dh_installinit
#	dh_installcron
	dh_installman
	dh_installinfo
#	dh_undocumented
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
#	dh_makeshlibs
	dh_installdeb
#	dh_perl
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install 
